/** Add css rules here for your application. */


/** Example rules used by the template application (remove for your app) */

html {
	background-image: url("/images/background.jpg");
	background-repeat: repeat;
	background-size: cover;
	font-family: 'Encode Sans Condensed', cursive;
}

body {
	background: transparent !important;
}

#main{
	background-image: url("/images/background.jpg");
	background-repeat: repeat;
	background-size: cover;
	font-family: 'Encode Sans Condensed', cursive;
}

#pinboardlist {
	height: 650px;
	width: 15%;
	display: inline-block;
	border: 1px outset #840000;
	margin-left: 5%;
	margin-right: 1%;
	background-color: rgba(255, 255, 255, 0.9);
	box-shadow: 1px 2px 2px #800000;
}

#details {
	height: 650px;
	width: 73.3%;
	display: inline-block;
	border: 1px outset #840000;
	background-color: rgba(255, 255, 255, 0.7);
	box-shadow: 1px 2px 2px #800000;
	overflow: auto;
	margin-right: 4%;
}



.login-button {
 font-family: Arial;
 color: #000000;
 font-size: 25px;
 border: solid #8000001px;
 margin-right: 3%;
 margin-top: 180px;
 margin-left: 11px;

 position: absolute;
 top: 40px;
 right: 60px;
}

.posting-content{
	font-family: monospace;
	font-size: 15px;
	font-weight: inherit;
	border-radius: 3px;
	margin-top: 6%;
 	margin-left: 3%;
}

.posting-grid{
	background-color: #ffffff;
	border: solid #ff0000;
	width: 550px;

}

.logout-button {
 font-family: Arial;
 color: #000000;
 font-size: 25px;
 border: solid #8000001px;
 margin-right: 3%;
 margin-top: 180px;
 margin-left: 11px;

 position: absolute;
 top: 40px;
 right: 60px;
}

#subscription {
	height: 80px;
	width: 15%;
	margin-left: 5%;
	margin-bottom: 1%;
	background:#c40000;
	box-shadow: 5px 5px 2.5px #840000;
	background-size: contain;
	display: flex;
	justify-content: space-between;
	align-items: center;
	border: 1px outset #840000;
	overflow: auto;
	
}

.subscription-button {
 font-family: Arial;
 color: #ffffff;
 background-color: #c40000;
 border: none;
 font-size: 15px;
 height: 40px;
 width: 15%;

 position: left;
 top: 40px;
 right: 160px;
}

.mypinboard-button {
 font-family: Arial;
 color: #ffffff;
 background-color: #c40000;
 border: none;
 font-size: 15px;
 height: 40px;
 width: 15%;

 position: left;
 top: 40px;
 right: 160px;
}


.remove-button{
 font-family: Arial;
 color: #ffffff;
 background-color: #c40000;
 border: none;
 font-size: 15px;
 height: 40px;
 width: 15%;
 position: absolute;


}

 {
	padding-left: -10%;
	height: 90px;
	width: 89.5%;
	margin-top: 20px;
	margin-left: 5%;
	margin-bottom: 10px;

	background:#fdf4e3 ;
	box-shadow: 5px 5px 2.5px #840000;
	background-size: contain;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

 {

	background-position: left;
	height: 230%;
	width: 80%;
	background-size: 80%;	
	background-repeat: no-repeat;
	margin-left: 5%;
	text-shadow: 1px 1px #ffffff;
	letter-spacing: 0.8em;
}

#logo {
	background-repeat: no-repeat;
	background-position: left;
	margin-left: 30px;
}

#menubar {
	height: 40px;
	width: 89.5%;
	margin-top: 5px;
	margin-left: 10%;
	margin-bottom: 5px;
	border: 1px outset black;
	background-color: rgba(255, 255, 255, 0.8);
	box-shadow: 1px 5px 2.5px grey;
}


#footer {
	height: 40px;
	width: 89.5%;
	margin: 10px auto;
	border: 2px outset black;
	background: linear-gradient(to top, #3399ff 0%, #99ccff 100%);
	box-shadow: 5px 5px 2.5px grey;
}
